<div [ngSwitch]="isAuthenticated()">
    <div *ngSwitchCase="false" style="background-color: #330C1F; height: 96vh;"><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="col-md-4 offset-4 p-4" style="border: 1px solid white;">
            <h5 class="text-white mt-3 mb-3">Admin</h5>
            <div class="form-group">
                <label class="text-white" for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                       [(ngModel)]="password">
            </div>
            <div>
                <button style="background-color: #333332" type="button" class="btn btn-sm text-white">Cancel</button>
                <button (click)="login()" style="background-color: #333332" type="button" class="btn btn-sm text-white float-right">Unlock</button>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="true" style="background-image:url('/content/images/ubuntu18.jpg');background-repeat: no-repeat; background-size: cover; height: 96vh;">
        <div class="row pl-2" style="margin-right: 100px">
            <div class="pt-2" style="height: 96vh;width:80px;background: #250811;">
                <div style="width: 78px;height: 46vh; background-image: url('/content/images/icons.png');background-repeat: no-repeat; background-size: cover;">
                </div>
            </div>
            <div>
                <div *ngFor="let directory of directories;">
                    <div class="m-4" title="{{directory.name}}">
                        <img height="60" width="50" src="/content/images/folder.ico">
                        <h5 class="text-white">{{directory.name}}</h5>
                    </div>
                </div>
            </div>
            <ul class="text-white m-4">
                <li (click)="openNew(content)">New Folder</li>
                <li>Create Document</li>
                <li>Copy</li>
                <li>Paste</li>
            </ul>
            <ng-template #content let-modal>
                <div class="modal-body">
                    <input class="form-control" placeholder="Enter Directory Name" [(ngModel)]="dirName" name="new">
                </div>
                <button class="btn btn-sm" (click)="createDirectory()">Create</button>
            </ng-template>
        </div>
    </div>
</div>
